<div class="row">
  <div class="col-1 h-100 d-inline-block navigation-bar">
    <app-navigation></app-navigation>
  </div>
  <div class="col-11">
    <router-outlet></router-outlet>
  </div>
</div>

<h2 class="border-start border-5 border-primary p-2">Menu</h2>
<hr>
<ul class="list-group">
  <li class="list-group-item"
      [routerLink]="[item.route]"
      *ngFor="let item of templateMenu"
      routerLinkActive="active">
    {{item.text}}
  </li>
</ul>

<br>

<h2 class="border-start border-5 border-warning p-2">Reactive</h2>
<hr>
<ul class="list-group">
  <li class="list-group-item"
      [routerLink]="[item.route]"
      *ngFor="let item of reactiveMenu"
      routerLinkActive="active">
    {{item.text}}
  </li>
</ul>

<br>

<h2 class="border-start border-5 border-danger p-2">Validations</h2>
<hr>
<ul class="list-group">
  <li class="list-group-item"
      [routerLink]="[item.route]"
      *ngFor="let item of authMenu"
      routerLinkActive="active">
    {{item.text}}
  </li>
</ul>

